<head>
  <meta charset="UTF-8">
  <title>placeholder</title>
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        lol
      </h1>
    </header>
      <main class="container container-fluid mt-5">
        {{{}}}
      </main>
  </div>
  </body>

</html>
