<div class="">
  <div class="">
  </div>
  <div class="login">
    <p>
    <input type="text" id="user-name-input">
    User name

    </input>
    </p>
    <p>
    <input type="password" id="password-input">
    Password

    </input>
    </p>
    <button id="sign-up-btn">sign up</button>


<!-- TODO: Use a built-in helper to display "Contains Nuts" if a food item contains nuts.-->
  </div>
</div>
<script src="/signup.js"></script>
