<div class="">
  <div class="">
  </div>
  <div class="login">
    <p>
      <input>
      {{user_name}}
      {{password}}
      </input>
    </p>
<!-- TODO: Use a built-in helper to display "Contains Nuts" if a food item contains nuts.-->
  </div>
</div>