<div class="">
  <div class="">
    {{}}
  </div>
  <div class="login">
    <p>
      {{user_name}}
      {{password}}
    </p>
<!-- TODO: Use a built-in helper to display "Contains Nuts" if a food item contains nuts.-->
  </div>
</div>