<div class="">
  <div class="login">

    <p>
      <input type="text" id="userNameInput">
        User name
      </input>
    </p>

    <p>
      <input type="password" id="passwordInput">
        Password
      </input>
    </p>

    <button id="signUpBtn">sign up</button>
    <button id="loginBtn">login</button>

  </div>
</div>
<script src="/signup.js"></script>
