<div class="">
  <div class="">
  </div>
  <div class="login">
    <p>
    <input type="text">
    User name

    </input>
    </p>
    <p>
    <input type="text">
    Password

    </input>
    </p>
<!-- TODO: Use a built-in helper to display "Contains Nuts" if a food item contains nuts.-->
  </div>
</div>